@font-face {
  font-family: 'primeicons';
  src: url('primeicons.woff2') format('woff2');
}

.pi {
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pi.pi-youtube::before {
  content: '\f101';
}
.pi.pi-wrench::before {
  content: '\f102';
}
.pi.pi-window-minimize::before {
  content: '\f103';
}
.pi.pi-window-maximize::before {
  content: '\f104';
}
.pi.pi-wifi::before {
  content: '\f105';
}
.pi.pi-whatsapp::before {
  content: '\f106';
}
.pi.pi-wave-pulse::before {
  content: '\f107';
}
.pi.pi-warehouse::before {
  content: '\f108';
}
.pi.pi-wallet::before {
  content: '\f109';
}
.pi.pi-volume-up::before {
  content: '\f10a';
}
.pi.pi-volume-off::before {
  content: '\f10b';
}
.pi.pi-volume-down::before {
  content: '\f10c';
}
.pi.pi-vimeo::before {
  content: '\f10d';
}
.pi.pi-video::before {
  content: '\f10e';
}
.pi.pi-verified::before {
  content: '\f10f';
}
.pi.pi-venus::before {
  content: '\f110';
}
.pi.pi-users::before {
  content: '\f111';
}
.pi.pi-user::before {
  content: '\f112';
}
.pi.pi-user-plus::before {
  content: '\f113';
}
.pi.pi-user-minus::before {
  content: '\f114';
}
.pi.pi-user-edit::before {
  content: '\f115';
}
.pi.pi-upload::before {
  content: '\f116';
}
.pi.pi-unlock::before {
  content: '\f117';
}
.pi.pi-undo::before {
  content: '\f118';
}
.pi.pi-twitter::before {
  content: '\f119';
}
.pi.pi-twitch::before {
  content: '\f11a';
}
.pi.pi-turkish-lira::before {
  content: '\f11b';
}
.pi.pi-truck::before {
  content: '\f11c';
}
.pi.pi-trophy::before {
  content: '\f11d';
}
.pi.pi-trash::before {
  content: '\f11e';
}
.pi.pi-times::before {
  content: '\f11f';
}
.pi.pi-times-circle::before {
  content: '\f120';
}
.pi.pi-tiktok::before {
  content: '\f121';
}
.pi.pi-ticket::before {
  content: '\f122';
}
.pi.pi-thumbtack::before {
  content: '\f123';
}
.pi.pi-thumbs-up::before {
  content: '\f124';
}
.pi.pi-thumbs-up-fill::before {
  content: '\f125';
}
.pi.pi-thumbs-down::before {
  content: '\f126';
}
.pi.pi-thumbs-down-fill::before {
  content: '\f127';
}
.pi.pi-th-large::before {
  content: '\f128';
}
.pi.pi-telegram::before {
  content: '\f129';
}
.pi.pi-tags::before {
  content: '\f12a';
}
.pi.pi-tag::before {
  content: '\f12b';
}
.pi.pi-tablet::before {
  content: '\f12c';
}
.pi.pi-table::before {
  content: '\f12d';
}
.pi.pi-sync::before {
  content: '\f12e';
}
.pi.pi-sun::before {
  content: '\f12f';
}
.pi.pi-stopwatch::before {
  content: '\f130';
}
.pi.pi-stop::before {
  content: '\f131';
}
.pi.pi-stop-circle::before {
  content: '\f132';
}
.pi.pi-step-forward::before {
  content: '\f133';
}
.pi.pi-step-forward-alt::before {
  content: '\f134';
}
.pi.pi-step-backward::before {
  content: '\f135';
}
.pi.pi-step-backward-alt::before {
  content: '\f136';
}
.pi.pi-star::before {
  content: '\f137';
}
.pi.pi-star-half::before {
  content: '\f138';
}
.pi.pi-star-half-fill::before {
  content: '\f139';
}
.pi.pi-star-fill::before {
  content: '\f13a';
}
.pi.pi-spinner::before {
  content: '\f13b';
}
.pi.pi-spinner-dotted::before {
  content: '\f13c';
}
.pi.pi-sparkles::before {
  content: '\f13d';
}
.pi.pi-sort::before {
  content: '\f13e';
}
.pi.pi-sort-up::before {
  content: '\f13f';
}
.pi.pi-sort-up-fill::before {
  content: '\f140';
}
.pi.pi-sort-numeric-up::before {
  content: '\f141';
}
.pi.pi-sort-numeric-up-alt::before {
  content: '\f142';
}
.pi.pi-sort-numeric-down::before {
  content: '\f143';
}
.pi.pi-sort-numeric-down-alt::before {
  content: '\f144';
}
.pi.pi-sort-down::before {
  content: '\f145';
}
.pi.pi-sort-down-fill::before {
  content: '\f146';
}
.pi.pi-sort-amount-up::before {
  content: '\f147';
}
.pi.pi-sort-amount-up-alt::before {
  content: '\f148';
}
.pi.pi-sort-amount-down::before {
  content: '\f149';
}
.pi.pi-sort-amount-down-alt::before {
  content: '\f14a';
}
.pi.pi-sort-alt::before {
  content: '\f14b';
}
.pi.pi-sort-alt-slash::before {
  content: '\f14c';
}
.pi.pi-sort-alpha-up::before {
  content: '\f14d';
}
.pi.pi-sort-alpha-up-alt::before {
  content: '\f14e';
}
.pi.pi-sort-alpha-down::before {
  content: '\f14f';
}
.pi.pi-sort-alpha-down-alt::before {
  content: '\f150';
}
.pi.pi-sliders-v::before {
  content: '\f151';
}
.pi.pi-sliders-h::before {
  content: '\f152';
}
.pi.pi-slack::before {
  content: '\f153';
}
.pi.pi-sitemap::before {
  content: '\f154';
}
.pi.pi-sign-out::before {
  content: '\f155';
}
.pi.pi-sign-in::before {
  content: '\f156';
}
.pi.pi-shopping-cart::before {
  content: '\f157';
}
.pi.pi-shopping-bag::before {
  content: '\f158';
}
.pi.pi-shop::before {
  content: '\f159';
}
.pi.pi-shield::before {
  content: '\f15a';
}
.pi.pi-share-alt::before {
  content: '\f15b';
}
.pi.pi-server::before {
  content: '\f15c';
}
.pi.pi-send::before {
  content: '\f15d';
}
.pi.pi-search::before {
  content: '\f15e';
}
.pi.pi-search-plus::before {
  content: '\f15f';
}
.pi.pi-search-minus::before {
  content: '\f160';
}
.pi.pi-save::before {
  content: '\f161';
}
.pi.pi-reply::before {
  content: '\f162';
}
.pi.pi-replay::before {
  content: '\f163';
}
.pi.pi-refresh::before {
  content: '\f164';
}
.pi.pi-reddit::before {
  content: '\f165';
}
.pi.pi-receipt::before {
  content: '\f166';
}
.pi.pi-question::before {
  content: '\f167';
}
.pi.pi-question-circle::before {
  content: '\f168';
}
.pi.pi-qrcode::before {
  content: '\f169';
}
.pi.pi-print::before {
  content: '\f16a';
}
.pi.pi-prime::before {
  content: '\f16b';
}
.pi.pi-power-off::before {
  content: '\f16c';
}
.pi.pi-pound::before {
  content: '\f16d';
}
.pi.pi-plus::before {
  content: '\f16e';
}
.pi.pi-plus-circle::before {
  content: '\f16f';
}
.pi.pi-play::before {
  content: '\f170';
}
.pi.pi-play-circle::before {
  content: '\f171';
}
.pi.pi-pinterest::before {
  content: '\f172';
}
.pi.pi-phone::before {
  content: '\f173';
}
.pi.pi-percentage::before {
  content: '\f174';
}
.pi.pi-pencil::before {
  content: '\f175';
}
.pi.pi-pen-to-square::before {
  content: '\f176';
}
.pi.pi-paypal::before {
  content: '\f177';
}
.pi.pi-pause::before {
  content: '\f178';
}
.pi.pi-pause-circle::before {
  content: '\f179';
}
.pi.pi-paperclip::before {
  content: '\f17a';
}
.pi.pi-palette::before {
  content: '\f17b';
}
.pi.pi-objects-column::before {
  content: '\f17c';
}
.pi.pi-moon::before {
  content: '\f17d';
}
.pi.pi-money-bill::before {
  content: '\f17e';
}
.pi.pi-mobile::before {
  content: '\f17f';
}
.pi.pi-minus::before {
  content: '\f180';
}
.pi.pi-minus-circle::before {
  content: '\f181';
}
.pi.pi-microsoft::before {
  content: '\f182';
}
.pi.pi-microphone::before {
  content: '\f183';
}
.pi.pi-microchip::before {
  content: '\f184';
}
.pi.pi-microchip-ai::before {
  content: '\f185';
}
.pi.pi-megaphone::before {
  content: '\f186';
}
.pi.pi-mars::before {
  content: '\f187';
}
.pi.pi-map::before {
  content: '\f188';
}
.pi.pi-map-marker::before {
  content: '\f189';
}
.pi.pi-lock::before {
  content: '\f18a';
}
.pi.pi-lock-open::before {
  content: '\f18b';
}
.pi.pi-list::before {
  content: '\f18c';
}
.pi.pi-list-check::before {
  content: '\f18d';
}
.pi.pi-linkedin::before {
  content: '\f18e';
}
.pi.pi-link::before {
  content: '\f18f';
}
.pi.pi-lightbulb::before {
  content: '\f190';
}
.pi.pi-language::before {
  content: '\f191';
}
.pi.pi-key::before {
  content: '\f192';
}
.pi.pi-instagram::before {
  content: '\f193';
}
.pi.pi-info::before {
  content: '\f194';
}
.pi.pi-info-circle::before {
  content: '\f195';
}
.pi.pi-indian-rupee::before {
  content: '\f196';
}
.pi.pi-inbox::before {
  content: '\f197';
}
.pi.pi-images::before {
  content: '\f198';
}
.pi.pi-image::before {
  content: '\f199';
}
.pi.pi-id-card::before {
  content: '\f19a';
}
.pi.pi-hourglass::before {
  content: '\f19b';
}
.pi.pi-home::before {
  content: '\f19c';
}
.pi.pi-history::before {
  content: '\f19d';
}
.pi.pi-heart::before {
  content: '\f19e';
}
.pi.pi-heart-fill::before {
  content: '\f19f';
}
.pi.pi-headphones::before {
  content: '\f1a0';
}
.pi.pi-hashtag::before {
  content: '\f1a1';
}
.pi.pi-hammer::before {
  content: '\f1a2';
}
.pi.pi-graduation-cap::before {
  content: '\f1a3';
}
.pi.pi-google::before {
  content: '\f1a4';
}
.pi.pi-globe::before {
  content: '\f1a5';
}
.pi.pi-github::before {
  content: '\f1a6';
}
.pi.pi-gift::before {
  content: '\f1a7';
}
.pi.pi-gauge::before {
  content: '\f1a8';
}
.pi.pi-forward::before {
  content: '\f1a9';
}
.pi.pi-folder::before {
  content: '\f1aa';
}
.pi.pi-folder-plus::before {
  content: '\f1ab';
}
.pi.pi-folder-open::before {
  content: '\f1ac';
}
.pi.pi-flag::before {
  content: '\f1ad';
}
.pi.pi-flag-fill::before {
  content: '\f1ae';
}
.pi.pi-filter::before {
  content: '\f1af';
}
.pi.pi-filter-slash::before {
  content: '\f1b0';
}
.pi.pi-filter-fill::before {
  content: '\f1b1';
}
.pi.pi-file::before {
  content: '\f1b2';
}
.pi.pi-file-word::before {
  content: '\f1b3';
}
.pi.pi-file-plus::before {
  content: '\f1b4';
}
.pi.pi-file-pdf::before {
  content: '\f1b5';
}
.pi.pi-file-o::before {
  content: '\f1b6';
}
.pi.pi-file-import::before {
  content: '\f1b7';
}
.pi.pi-file-export::before {
  content: '\f1b8';
}
.pi.pi-file-excel::before {
  content: '\f1b9';
}
.pi.pi-file-edit::before {
  content: '\f1ba';
}
.pi.pi-file-check::before {
  content: '\f1bb';
}
.pi.pi-file-arrow-up::before {
  content: '\f1bc';
}
.pi.pi-fast-forward::before {
  content: '\f1bd';
}
.pi.pi-fast-backward::before {
  content: '\f1be';
}
.pi.pi-facebook::before {
  content: '\f1bf';
}
.pi.pi-face-smile::before {
  content: '\f1c0';
}
.pi.pi-eye::before {
  content: '\f1c1';
}
.pi.pi-eye-slash::before {
  content: '\f1c2';
}
.pi.pi-external-link::before {
  content: '\f1c3';
}
.pi.pi-expand::before {
  content: '\f1c4';
}
.pi.pi-exclamation-triangle::before {
  content: '\f1c5';
}
.pi.pi-exclamation-circle::before {
  content: '\f1c6';
}
.pi.pi-euro::before {
  content: '\f1c7';
}
.pi.pi-ethereum::before {
  content: '\f1c8';
}
.pi.pi-eraser::before {
  content: '\f1c9';
}
.pi.pi-equals::before {
  content: '\f1ca';
}
.pi.pi-envelope::before {
  content: '\f1cb';
}
.pi.pi-ellipsis-v::before {
  content: '\f1cc';
}
.pi.pi-ellipsis-h::before {
  content: '\f1cd';
}
.pi.pi-eject::before {
  content: '\f1ce';
}
.pi.pi-download::before {
  content: '\f1cf';
}
.pi.pi-dollar::before {
  content: '\f1d0';
}
.pi.pi-discord::before {
  content: '\f1d1';
}
.pi.pi-directions::before {
  content: '\f1d2';
}
.pi.pi-directions-alt::before {
  content: '\f1d3';
}
.pi.pi-desktop::before {
  content: '\f1d4';
}
.pi.pi-delete-left::before {
  content: '\f1d5';
}
.pi.pi-database::before {
  content: '\f1d6';
}
.pi.pi-crown::before {
  content: '\f1d7';
}
.pi.pi-credit-card::before {
  content: '\f1d8';
}
.pi.pi-copy::before {
  content: '\f1d9';
}
.pi.pi-compass::before {
  content: '\f1da';
}
.pi.pi-comments::before {
  content: '\f1db';
}
.pi.pi-comment::before {
  content: '\f1dc';
}
.pi.pi-cog::before {
  content: '\f1dd';
}
.pi.pi-code::before {
  content: '\f1de';
}
.pi.pi-cloud::before {
  content: '\f1df';
}
.pi.pi-cloud-upload::before {
  content: '\f1e0';
}
.pi.pi-cloud-download::before {
  content: '\f1e1';
}
.pi.pi-clone::before {
  content: '\f1e2';
}
.pi.pi-clock::before {
  content: '\f1e3';
}
.pi.pi-clipboard::before {
  content: '\f1e4';
}
.pi.pi-circle::before {
  content: '\f1e5';
}
.pi.pi-circle-on::before {
  content: '\f1e6';
}
.pi.pi-circle-off::before {
  content: '\f1e7';
}
.pi.pi-circle-fill::before {
  content: '\f1e8';
}
.pi.pi-chevron-up::before {
  content: '\f1e9';
}
.pi.pi-chevron-right::before {
  content: '\f1ea';
}
.pi.pi-chevron-left::before {
  content: '\f1eb';
}
.pi.pi-chevron-down::before {
  content: '\f1ec';
}
.pi.pi-chevron-circle-up::before {
  content: '\f1ed';
}
.pi.pi-chevron-circle-right::before {
  content: '\f1ee';
}
.pi.pi-chevron-circle-left::before {
  content: '\f1ef';
}
.pi.pi-chevron-circle-down::before {
  content: '\f1f0';
}
.pi.pi-check::before {
  content: '\f1f1';
}
.pi.pi-check-square::before {
  content: '\f1f2';
}
.pi.pi-check-circle::before {
  content: '\f1f3';
}
.pi.pi-chart-scatter::before {
  content: '\f1f4';
}
.pi.pi-chart-pie::before {
  content: '\f1f5';
}
.pi.pi-chart-line::before {
  content: '\f1f6';
}
.pi.pi-chart-bar::before {
  content: '\f1f7';
}
.pi.pi-cart-plus::before {
  content: '\f1f8';
}
.pi.pi-cart-minus::before {
  content: '\f1f9';
}
.pi.pi-cart-arrow-down::before {
  content: '\f1fa';
}
.pi.pi-caret-up::before {
  content: '\f1fb';
}
.pi.pi-caret-right::before {
  content: '\f1fc';
}
.pi.pi-caret-left::before {
  content: '\f1fd';
}
.pi.pi-caret-down::before {
  content: '\f1fe';
}
.pi.pi-car::before {
  content: '\f1ff';
}
.pi.pi-camera::before {
  content: '\f200';
}
.pi.pi-calendar::before {
  content: '\f201';
}
.pi.pi-calendar-times::before {
  content: '\f202';
}
.pi.pi-calendar-plus::before {
  content: '\f203';
}
.pi.pi-calendar-minus::before {
  content: '\f204';
}
.pi.pi-calendar-clock::before {
  content: '\f205';
}
.pi.pi-calculator::before {
  content: '\f206';
}
.pi.pi-bullseye::before {
  content: '\f207';
}
.pi.pi-building::before {
  content: '\f208';
}
.pi.pi-building-columns::before {
  content: '\f209';
}
.pi.pi-briefcase::before {
  content: '\f20a';
}
.pi.pi-box::before {
  content: '\f20b';
}
.pi.pi-bookmark::before {
  content: '\f20c';
}
.pi.pi-bookmark-fill::before {
  content: '\f20d';
}
.pi.pi-book::before {
  content: '\f20e';
}
.pi.pi-bolt::before {
  content: '\f20f';
}
.pi.pi-bitcoin::before {
  content: '\f210';
}
.pi.pi-bell::before {
  content: '\f211';
}
.pi.pi-bell-slash::before {
  content: '\f212';
}
.pi.pi-bars::before {
  content: '\f213';
}
.pi.pi-barcode::before {
  content: '\f214';
}
.pi.pi-ban::before {
  content: '\f215';
}
.pi.pi-backward::before {
  content: '\f216';
}
.pi.pi-at::before {
  content: '\f217';
}
.pi.pi-asterisk::before {
  content: '\f218';
}
.pi.pi-arrows-v::before {
  content: '\f219';
}
.pi.pi-arrows-h::before {
  content: '\f21a';
}
.pi.pi-arrows-alt::before {
  content: '\f21b';
}
.pi.pi-arrow-up::before {
  content: '\f21c';
}
.pi.pi-arrow-up-right::before {
  content: '\f21d';
}
.pi.pi-arrow-up-right-and-arrow-down-left-from-center::before {
  content: '\f21e';
}
.pi.pi-arrow-up-left::before {
  content: '\f21f';
}
.pi.pi-arrow-right::before {
  content: '\f220';
}
.pi.pi-arrow-right-arrow-left::before {
  content: '\f221';
}
.pi.pi-arrow-left::before {
  content: '\f222';
}
.pi.pi-arrow-down::before {
  content: '\f223';
}
.pi.pi-arrow-down-right::before {
  content: '\f224';
}
.pi.pi-arrow-down-left::before {
  content: '\f225';
}
.pi.pi-arrow-down-left-and-arrow-up-right-to-center::before {
  content: '\f226';
}
.pi.pi-arrow-circle-up::before {
  content: '\f227';
}
.pi.pi-arrow-circle-right::before {
  content: '\f228';
}
.pi.pi-arrow-circle-left::before {
  content: '\f229';
}
.pi.pi-arrow-circle-down::before {
  content: '\f22a';
}
.pi.pi-apple::before {
  content: '\f22b';
}
.pi.pi-angle-up::before {
  content: '\f22c';
}
.pi.pi-angle-right::before {
  content: '\f22d';
}
.pi.pi-angle-left::before {
  content: '\f22e';
}
.pi.pi-angle-down::before {
  content: '\f22f';
}
.pi.pi-angle-double-up::before {
  content: '\f230';
}
.pi.pi-angle-double-right::before {
  content: '\f231';
}
.pi.pi-angle-double-left::before {
  content: '\f232';
}
.pi.pi-angle-double-down::before {
  content: '\f233';
}
.pi.pi-android::before {
  content: '\f234';
}
.pi.pi-amazon::before {
  content: '\f235';
}
.pi.pi-align-right::before {
  content: '\f236';
}
.pi.pi-align-left::before {
  content: '\f237';
}
.pi.pi-align-justify::before {
  content: '\f238';
}
.pi.pi-align-center::before {
  content: '\f239';
}
.pi.pi-address-book::before {
  content: '\f23a';
}
.pi.ai-sparkles::before {
  content: '\f23b';
}
