#####################################################
#                 CONFIGURATION                     #
# used to download and upload azion github packages #
#####################################################

# //npm.pkg.github.com/:_authToken=[TOKEN]
//registry=https://npm.pkg.github/aziontech=true
@aziontech:registry=https://npm.pkg.github.com/
