{
  "branches": ["main"],
  "debug": false,
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "headerCorrespondence": [
            "scope",
            "type",
            "subject"
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "headerCorrespondence": [
            "scope",
            "type",
            "subject"
          ]
        },
        "options": {
          "preset": {
            "name": "conventionalchangelog",
            "issuePrefixes": [

            ],
            "issueUrlFormat": "https://github.com/aziontech/azion-web-kit/issues/{id}"
          }
        }
      }
    ],
    "@semantic-release/changelog",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} \n\n[skip ci]\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
