// Custom Autocomplete

.p-autocomplete-panel {

    .p-autocomplete-items {

        .p-autocomplete-item-group {
            font-size: 0.75rem !important;
            font-weight: 500 !important;
            padding-bottom: 0.25rem !important;
        }
    }
}