.code-log-body {
  padding: 1px;
  font-family: "Roboto Mono", serif;
  color: var(--text-color);
  background: var(--surface-code-highlight) ;
}

.value-code-log-body {
  font-family: "Roboto Mono", serif;
  color: var(--text-color);
}