@layer tailwind-base, primevue;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

body, html {
  overflow-x: clip;
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
}

.p-card-header img {
  max-width: 100%;
}

.azion-dark .hide-on-dark {
  display: none;
}
.azion-light .hide-on-dark {
  display: block;
}

.azion-dark .hide-on-light {
  display: block;
}
.azion-light .hide-on-light {
  display: none;
}

.cms-embed * {
  max-width: 100%;
}

.cms-embed iframe {
  width: 100%;
}
